<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Formulário</title>
</head>
<body>
    <html>
  <head>
    <title>Meu Formulário</title>
  </head>
<body>
    <form action="/logar" class="login" method="post" name="Meu formulário">
                
        <div class="padding">
        <h2 class="title"><i class="icon icon-user-1"></i> Login</h2>
          <input type="text" name="usuario" placeholder="Usuario" autofocus/>          
          <i class="icon icon-envelope"></i>
          <input type="password" name="senha" placeholder="Senha" />
          <i class="icon icon-key-1"></i>
          <button>
             <i class="spinner"></i>
             <span class="state">Entrar</span>
             <input type="hidden" class="btn fade_8S" name="login" value="Entrar">
           </button>
            
        </div>
  </form>

</body>
</html>
</body>
</html>